.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #007fff;
  margin-bottom: 40px;
  padding-bottom: 10px;
}


.agrochemicals-table {
  width: 100%;
  border-collapse: collapse;
}

.agrochemicals-table th,
.agrochemicals-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-right: 2px solid #ccc;
}

.agrochemicals-table th:last-child,
.agrochemicals-table td:last-child {
  border-right: none;
  width: 370px;
  text-align: center;
}

.agrochemicals-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.agrochemicals-table tr:hover {
  background-color: #f1f1f1;
}

.agrochemicals-table td {
  text-align: center;
}
button.edit-button {
  background-color: #28a745;
  color: white;
}

.search-box {
width: 30%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
margin-right: 878px;
box-sizing: border-box;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #007fff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: blue;
}

@media (max-width: 600px) {
.container {
padding: 10px;
}

button {
width: 100%;
}
}

.agrochemicals-table th {
font-weight: bold;
background-color: rgb(19, 141, 193);
text-align: center;
}

.popup {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

.popup-content {
background: #fff;
padding: 20px;
border-radius: 10px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
position: relative;
}

button.confirm-button {
background-color: #28a745;
color: white;
padding: 10px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 5px;
}

button.confirm-button:hover {
background-color: #218838;
}

button.cancel-button {
background-color: #dc3545;
color: white;
padding: 10px 15px;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 5px;
}

button.cancel-button:hover {
background-color: #c82333;
}
.edit-button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.edit-button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.delete-button:hover {
  background-color: #c82333;
}