body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: linear-gradient(to right, #008000, #ff0000); 
    overflow: hidden;
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav p {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
