h2 {
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #007fff;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: relative;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

input[type="file"] {
    display: block;
    border: #333;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #007fff;
    width: 100%;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
label::after {
    content: '*';
    color: red;
    margin-left: 5px;
  }

button[type="submit"]:hover {
    background-color: blue;
}
.back-button:hover {
    background-color: blue;
}

.upload {
    padding-top: 15px;
    padding-left: 15px;
    border: 2px solid black;
}

.back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:#007fff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    button[type="submit"] {
        width: 100%;
    }
}
