.navbar {
  margin-bottom: 20px; /* Add margin to the bottom of the navbar */
}

.container {
  max-width: 90%;
  margin: 20px auto; /* Add margin to ensure spacing */
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #007fff;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.search-box {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px; /* Adjust margin-right for proper alignment */
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.agrochemicals-table {
  width: 100%;
  border-collapse: collapse;
}

.agrochemicals-table th,
.agrochemicals-table td {
  padding: 15px; /* Adjust padding for sufficient gaps */
  text-align: center; /* Center-align the cell data */
  border-bottom: 1px solid #ccc;
  border-right: 2px solid #ccc;
  white-space: nowrap; /* Ensure text does not wrap */
}

.agrochemicals-table th:last-child,
.agrochemicals-table td:last-child {
  border-right: none;
  text-align: center;
}

.agrochemicals-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.agrochemicals-table tr:hover {
  background-color: #f1f1f1;
}

.agrochemicals-table th {
  font-weight: bold;
  background-color: rgb(19, 141, 193);
  text-align: center;
}

button {
  background-color: #007fff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .search-box {
    width: 100%; /* Adjust width for mobile devices */
    margin-right: 0; /* Remove margin-right for mobile devices */
  }

  button {
    width: 100%;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
}
