h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  padding-bottom: 20px;
  position: relative;
  display: inline-block;
  width: 100%;
}

h2::after {
  content: '';
  display: block;
  width: 80%;
  height: 5px;
  background: linear-gradient(to right, #008000, #ff0000);
  position: absolute;
  bottom: 0;
  left: 10%;
}

form {
  max-width: 400px; /* Reduced width */
  margin: 50px auto; /* Position card a bit lower */
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
  font-family: Arial, sans-serif;
}

form div {
  margin-bottom: 15px;
}

.form-error {
  color: red;
  font-size: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

label::after {
  content: '*';
  color: red;
  margin-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

input[type="file"] {
  display: block;
  border: #333;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #007fff;
  width: 100%;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: blue;
}

.upload {
  padding-top: 15px;
  padding-left: 15px;
  border: 2px solid black;
}

@media (max-width: 600px) {
  form {
      padding: 10px;
  }

  button[type="submit"] {
      width: 100%;
  }
}
